@media only screen and (min-width: 767px) and (max-width: 1110px) {
.home{
    flex-direction: column-reverse;
    padding: initial;
}
.home-content{
   width: 80%;
}
.about{
    flex-direction: column;
    gap: 1em
}
.btn-box {
    flex-direction: column;
}
#home-hero {
    flex-direction: column-reverse;
}
.contact-form form .input-box input, .contact-form form textarea{
    width: 75%;
}
    }
    @media only screen and (max-width: 766px) {
        .img-box img{
            width: 150px;
            height: 150px;
        }   
        .home-content h1{
            font-size: 25px;
        
        }
        .home-content p{
            font-size: 18px;
           
        }
        .about-img img{
            width: 150px;
            height: 150px;
        }
        .about-content h2, .about-content h3{
            font-size: 20px;
        }
        .about{
            flex-direction: column;
            gap: 1em
        }
        .contact-form form .input-box input, .contact-form form textarea{
            width: 75%;
        }
        #activity-content img{
            height: 150px;
        }
        .btn-box {
            gap: 5px;
            flex-direction: column;
        }
        #home-hero {
            flex-direction: column-reverse;
        }
        .about-content .btn-2{
            font-size: 9px;
            letter-spacing: normal;
        }
    }
